.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.calendar {
  width: 50%;
  background-color: white;
}

.diary {
  width: 50%;
  /* background-color: skyblue; */
}

css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel,
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 2rem !important;
}
